{% extends "bidones/base_template.html" %}
{% load static %}
{% block content %}

<div class="relative bg-white overflow-hidden hero-section">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline"> Panel de CRUD (Clientes y Pedidos)</span>
                        <p> CLIENTES {{ cliente.nombre }}</p>
                    </h1>
                    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                        En este panel, puedes agregar, buscar, editar y eliminar clientes y sus pedidos.
                    </p>
                    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                        <div class="rounded-md shadow">
                            <button type="button" class="btn btn-crud btn-primary" data-bs-toggle="modal" data-bs-target="#add__form">
                                Añadir Pedido 🧾
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 contenedor-logo-manantiales z-index">
        <div class="w-full h-full flex justify-center items-center">
        <img 
            class="h-56 w-56 sm:h-72 sm:w-72 md:h-96 md:w-96 lg:h-[80%] lg:w-[80%] object-contain rounded-full logo-manantiales" 
            src="{% static 'bidones/assets/logo-bidones.png' %}" 
            alt="Logo Manantiales"
        >
        </div>
    </div>
</div>

<!-- Mostrar mensajes de éxito o error -->
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container">
    <!-- Modal para añadir pedido -->
    <div class="modal fade animated-text" id="add__form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> Añadir Pedido </h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'agregar_dia' %}">
                        {% csrf_token %}
                        <div class="list-group-item">
                            <label for="cliente" class="col-form-label"> Cliente: </label>
                            <select id="clienteSelect" class="form-control" name="cliente" required>
                                <option value="">Seleccionar Cliente</option>
                                {% if clientes %}
                                {% for cliente in clientes %}
                                        <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }} - DNI: {{ cliente.dni }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">No hay clientes disponibles</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="list-group-item">
                            <label for="bidones_20L" class="col-form-label"> Cantidad de bidones 20L: </label>
                            <input type="number" class="form-control" name="bidones_20L" required>
                        </div>
                        <div class="list-group-item">
                            <label for="bidones_15L" class="col-form-label"> Cantidad de bidones 12L: </label>
                            <input type="number" class="form-control" name="bidones_15L" required>
                        </div>
                        <div class="list-group-item">
                            <label for="precio_total" class="col-form-label"> Precio Total: </label>
                            <input type="number" class="form-control" name="precio_total" step="0.01" required>
                        </div>
                        <div class="list-group-item">
                            <label for="paga" class="col-form-label"> Pago realizado: </label>
                            <input type="number" class="form-control" name="paga" step="0.01" required>
                        </div>
                        <div class="list-group-item">
                            <label for="debe" class="col-form-label"> Total a pagar: </label>
                            <input type="number" class="form-control" name="debe" step="0.01" required>
                        </div>
                        <div class="list-group-item">
                            <label for="alquila" class="col-form-label"> Total de dispensers alquilados: </label>
                            <input type="number" class="form-control" name="alquila" step="0.01" required>
                        </div>
                        <button type="submit" class="btn btn-success mt-3"> Registrar Pedido </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Campo de búsqueda -->
    <form action="/clientes/search/" method="GET" class="mt-3 mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar cliente..." name="query" required>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <!-- Tabla de clientes (solo mostrar clientes con pedidos) -->
    <div class="table-responsive shadow rounded">
        <table class="table table-hover table-striped align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Cliente </th>
                    <th scope="col"> 20L </th>
                    <th scope="col"> 12L </th>
                    <th scope="col"> Precio </th>
                    <th scope="col"> Paga </th>
                    <th scope="col"> Debe </th>
                    <th scope="col"> Alquila </th>
                    <th scope="col"> Fecha </th>
                    <th scope="col"> Acciones </th>
                </tr>
            </thead>
            <tbody>
                {% for dia in dias %}
                    <tr>
                        <th scope="row">{{ dia.id }}</th>
                        <td>{{ dia.cliente }}</td>
                        <td>{{ dia.bidones_20L }}</td>
                        <td>{{ dia.bidones_15L }}</td>
                        <td>${{ dia.precio_total }}</td>
                        <td>${{ dia.paga }}</td>
                        <td>${{ dia.debe }}</td>
                        <td>{{ dia.alquila }} dispensers </td>
                        <td>{{ dia.fecha }}</td>
                        <td>
                            <a class="btn btn-warning" href="/dias/edit/{{ dia.id }}">Editar</a>
                            <a class="btn btn-danger" href="/dias/delete/{{ dia.id }}">Eliminar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9">No hay registros de día a día</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>

    <!-- Paginación --> 
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
