.crud-titulo{
    font-family: 'CooVeltica', sans-serif;
    width: 30%;
    text-align: center;
    color: rgb(7, 7, 7);
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-size: cover;
    position: relative;
}

.container > button {
    color: rgb(255, 254, 254);
    padding: 0.5rem 1.5rem; /* Aumenta el padding (más espacio dentro del botón) */
    transition: 1s all;
    border: none;
    cursor: pointer;
    gap: 0.25rem;
    border-radius: 100px;
    margin-bottom: 2%;
}

/* Hover en los botones */
.container > button:hover {
    color: rgb(255, 255, 255); /* Color al pasar el mouse */
    background: rgb(5, 88, 253); /* Fondo semitransparente */
    box-shadow: 4px 4px 15px rgba(0, 0, 255, 0.5); /* Sombra sutil */
}

.table-responsive {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border: 2px #4d4d4e solid;
    transition: .5s all ease-in-out; 
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

table:hover{
    box-shadow: 4px 4px 15px rgba(0, 0, 255, 0.5); /* Sombra sutil */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
    table {
        margin-top: 5%;
        border: 2px #4a38b0 solid;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    tr {
        margin-bottom: 15px;
        display: block;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }

    th {
        display: none;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        margin-top: 2%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    td {
        color: rgb(0, 0, 0);
    }
}