.crud-titulo{
    font-family: 'CooVeltica', sans-serif;
    width: 30%;
    text-align: center;
    color: rgb(7, 7, 7);
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-size: cover;
    position: relative;
    margin-top: 8%;
}

.container > button {
    color: rgb(255, 254, 254);
    padding: 0.5rem 1.5rem; /* Aumenta el padding (más espacio dentro del botón) */
    transition: 1s all;
    border: none;
    cursor: pointer;
    gap: 0.25rem;
    border-radius: 100px;
    margin-bottom: 2%;
}

/* Hover en los botones */
.container > button:hover {
    color: rgb(255, 255, 255); /* Color al pasar el mouse */
    background: rgb(5, 88, 253); /* Fondo semitransparente */
    box-shadow: 4px 4px 15px rgba(0, 0, 255, 0.5); /* Sombra sutil */
}

