.hero-section{
    margin-top: 5%;
}

.contenedor-logo-manantiales{
    z-index: 100;
    width: 50%;
}

.logo-manantiales{
    border-radius: 70%;
    width: 50%;
    border: 2px #000000 solid; 
    background-color: rgb(210, 210, 210);
    box-shadow: 8px 8px 20px rgb(0, 0, 0);  
    transition: 1s all;

    padding: 5%;
    margin-top: 5%;
    margin-left: 8%;
}

.logo-manantiales:hover{
    box-shadow: 8px 8px 20px rgb(5, 88, 253);  
    border: 2px #0F4C81 solid; 
    transform: scale(1.1, 1.1);
}

.pagination{
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    .logo-manantiales{
        margin-left: 100%;
    }
}